# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# VS Code
.vscode/

# Chroma
data/chromadb/
data/index_metadata.json
data/bm25

# Cloned documentation
data/raw/

# OS
.DS_Store
Thumbs.db

testing.ipynb

main_v1.py
main_v2.py
main_v3.py